.tarefas-container {
  display: flex;
  justify-content: space-between;
}

.tarefas-completas,
.tarefas-pendentes {
  margin: 10px;
  padding: 20px;
  border-radius: 8px;
  border: 2px solid;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.tarefas-completas {
  border-color: #28a745;
}

.tarefas-pendentes {
  border-color: #dc3545;
}

h2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tarefa-completa {
  color: #28a745;
}

.tarefa-pendente {
  color: #dc3545;
}
